@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Roboto";
    font-weight: 100;
    src: url("/fonts/roboto-mono/Roboto-Thin.woff2") format("woff2"),
        url("/fonts/roboto-mono/Roboto-Thin.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-weight: 300;
    src: url("/fonts/roboto-mono/Roboto-Light.woff2") format("woff2"),
        url("/fonts/roboto-mono/Roboto-Light.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-weight: 400;
    src: url("/fonts/roboto-mono/Roboto-Regular.woff2") format("woff2"),
        url("/fonts/roboto-mono/Roboto-Regular.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-weight: 500;
    src: url("/fonts/roboto-mono/Roboto-Medium.woff2") format("woff2"),
        url("/fonts/roboto-mono/Roboto-Medium.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-weight: 700;
    src: url("/fonts/roboto-mono/Roboto-Bold.woff2") format("woff2"),
        url("/fonts/roboto-mono/Roboto-Bold.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-weight: 900;
    src: url("/fonts/roboto-mono/Roboto-Black.woff2") format("woff2"),
        url("/fonts/roboto-mono/Roboto-Black.woff") format("woff");
}

@font-face {
    font-family: "Roboto Mono";
    font-weight: 100;
    src: url("/fonts/roboto-mono/RobotoMono-Thin.woff2") format("woff2"),
        url("/fonts/roboto-mono/RobotoMono-Thin.woff") format("woff");
}

@font-face {
    font-family: "Roboto Mono";
    font-weight: 200;
    src: url("/fonts/roboto-mono/RobotoMono-ExtraLight.woff2") format("woff2"),
        url("/fonts/roboto-mono/RobotoMono-ExtraLight.woff") format("woff");
}

@font-face {
    font-family: "Roboto Mono";
    font-weight: 300;
    src: url("/fonts/roboto-mono/RobotoMono-Light.woff2") format("woff2"),
        url("/fonts/roboto-mono/RobotoMono-Light.woff") format("woff");
}

@font-face {
    font-family: "Roboto Mono";
    font-weight: 400;
    src: url("/fonts/roboto-mono/RobotoMono-Regular.woff2") format("woff2"),
        url("/fonts/roboto-mono/RobotoMono-Regular.woff") format("woff");
}

@font-face {
    font-family: "Roboto Mono";
    font-weight: 500;
    src: url("/fonts/roboto-mono/RobotoMono-Medium.woff2") format("woff2"),
        url("/fonts/roboto-mono/RobotoMono-Medium.woff") format("woff");
}

@font-face {
    font-family: "Roboto Mono";
    font-weight: 600;
    src: url("/fonts/roboto-mono/RobotoMono-SemiBold.woff2") format("woff2"),
        url("/fonts/roboto-mono/RobotoMono-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "Roboto Mono";
    font-weight: 700;
    src: url("/fonts/roboto-mono/RobotoMono-Bold.woff2") format("woff2"),
        url("/fonts/roboto-mono/RobotoMono-Bold.woff") format("woff");
}